.question-list {
  width: 15%;
  display: inline-block;
  padding: 0 .25rem;

  h1 {
    box-sizing: border-box;
    padding: 1rem;
    background: $color-primary-2;
    font-size: 1rem;
    color: $color-secondary-2-3;
    text-shadow: 5px 2px 2px rgba(#8a5c00, 0.25);

  }

  li {
    box-sizing: border-box;
    display: block;
    height: 4rem;
    margin: .1rem;

    background: $color-secondary-2-1;

    h6 {
      margin: 0;
      padding: .75rem;
      color: $color-complement-4;
      font-size: 2rem;
      font-family: $font-header;

    }
  }
}
